.mainDashBoard{
    -fx-background-color: #292929;
    -fx-background-radius: 30px;
    -fx-border-style: none;
}

.topMenuBarHBox{
    -fx-background-color: orange;
    -fx-background-radius: 20px;
}

.topMenuBarHBoxHover:hover{
    -fx-background-color: #22ff00;
    -fx-background-radius: 10px, 10px, 10px, 10px;
    -fx-border-radius: 10px, 10px, 10px, 10px;
    -fx-border-color: #00c3ff;
    -fx-border-style: solid;
    -fx-text-fill: #50004c;
    box-shadow: inset 300px 0 0 0 #ffd900;
    -fx-transition-duration: 0.4s;
}

.topAddPane{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to bottom right, #ff6b00 0%, #7800a9 100%);
}

.mainContentPane{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to bottom left, #01f8d6, #ff0000);
}

.addPatientsLeftPane{
    -fx-background-color: green;
    -fx-background-radius: 20px;
}

.searchPatientsPane{
    -fx-background-color: #0243a2;
    -fx-background-radius: 20px
}

.modifyPatientsPane{
    -fx-background-color: #3e0080;
    -fx-background-radius: 20px
}

.removePatientsPane{
    -fx-background-color: #800000;
    -fx-background-radius: 20px
}